In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from citipy import citipy
import requests
import os
import gmaps
from config import weather_api_key
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
city_data_to_load = os.path.join("weather_data","WeatherPy_database.csv")
city_data_df = pd.read_csv(city_data_to_load)
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Puerto Ayora,EC,-0.74,-90.35,71.01,88,86,3.00,overcast clouds,0.00,0.0
1,1,Jamestown,US,42.10,-79.24,71.01,88,90,6.93,overcast clouds,0.00,0.0
2,2,Martil,MA,35.62,-5.28,71.60,83,0,8.05,clear sky,0.00,0.0
3,3,Yellowknife,CA,62.46,-114.35,73.00,33,40,14.99,scattered clouds,0.00,0.0
4,4,New Norfolk,AU,-42.78,147.06,54.00,90,100,2.44,light rain,0.15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
576,576,Chicama,PE,-7.84,-79.15,65.32,76,47,7.87,scattered clouds,0.00,0.0
577,577,Little Current,CA,45.98,-81.92,69.80,83,90,4.70,overcast clouds,0.00,0.0
578,578,Creston,US,41.06,-94.36,75.20,50,20,18.34,few clouds,0.00,0.0
579,579,Cidreira,BR,-30.18,-50.21,67.68,73,33,8.70,scattered clouds,0.00,0.0
580,580,Babayurt,RU,43.60,46.78,70.99,64,34,11.81,scattered clouds,0.00,0.0

In [4]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_question = str(input("Do you want it to be raining? (yes/no) "))
snow_question = str(input("Do you want it to be snowing? (yes/no) "))
# Filter the dataset to find the cities that fit the criteria.

if rain_question =="yes" and snow_question =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] > 0.0) &
                                           (city_data_df["Snow (inches)"] > 0.0)]
    
elif rain_question =="yes" and snow_question =="no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] > 0.0) &
                                           (city_data_df["Snow (inches)"] == 0.0)]
    
elif rain_question =="no" and snow_question =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] == 0.0) &
                                           (city_data_df["Snow (inches)"] > 0.0)]    
    
else:
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0.0) &
                                          (city_data_df["Snow (inches)"] == 0.0)]
    
    
preferred_cities_df

What is the minimum temperature you would like for your trip? 66
What is the maximum temperature you would like for your trip? 69
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
25,25,Bukoba,TZ,-1.33,31.81,67.57,71,59,3.53,broken clouds,0.0,0.0
50,50,East London,ZA,-33.02,27.91,67.37,27,0,6.15,clear sky,0.0,0.0
55,55,Chuy,UY,-33.70,-53.46,67.06,85,87,8.86,overcast clouds,0.0,0.0
57,57,Laje,BR,-10.18,-40.97,68.16,72,12,10.20,few clouds,0.0,0.0
67,67,Saint-Philippe,RE,-21.36,55.77,66.20,72,15,8.05,few clouds,0.0,0.0
108,108,Cacu,BR,-18.56,-51.13,68.40,47,42,5.77,scattered clouds,0.0,0.0
112,112,Cumaru,BR,-8.01,-35.70,67.05,96,0,6.78,clear sky,0.0,0.0
137,137,Camacha,PT,33.08,-16.33,68.00,77,40,11.41,scattered clouds,0.0,0.0
150,150,Beidao,CN,34.57,105.89,67.05,71,0,3.06,clear sky,0.0,0.0
187,187,Tsaratanana,MG,-16.78,47.65,67.44,73,1,8.90,clear sky,0.0,0.0
199,199,Baykit,RU,61.67,96.37,66.60,64,68,1.57,broken clouds,0.0,0.0
203,203,Otsuchi,JP,39.37,141.90,66.20,82,75,2.24,broken clouds,0.0,0.0
218,218,Kamaishi,JP,39.27,141.88,66.20,82,75,2.24,broken clouds,0.0,0.0
231,231,Chapais,CA,49.78,-74.85,68.00,94,90,4.70,overcast clouds,0.0,0.0
235,235,Hasaki,JP,35.73,140.83,68.00,94,75,12.75,light rain,0.0,0.0
266,266,Walvis Bay,NaN,-22.96,14.51,68.00,22,0,10.29,clear sky,0.0,0.0
278,278,Zeya,RU,53.75,127.27,66.43,51,80,1.41,broken clouds,0.0,0.0
294,294,Kununurra,AU,-15.77,128.73,66.20,31,0,6.93,clear sky,0.0,0.0
342,342,Santa Isabel,BR,-23.32,-46.22,66.20,63,100,4.70,overcast clouds,0.0,0.0
373,373,Henties Bay,NaN,-22.12,14.28,68.00,45,0,1.01,clear sky,0.0,0.0
423,423,Ambilobe,MG,-13.20,49.05,68.14,85,0,3.29,clear sky,0.0,0.0
450,450,Tazmalt,DZ,36.39,4.40,66.20,88,0,4.70,clear sky,0.0,0.0
454,454,Miyang,CN,24.40,103.44,67.95,88,100,4.09,overcast clouds,0.0,0.0
491,491,Bayir,TR,37.27,28.22,68.00,82,20,2.24,few clouds,0.0,0.0
493,493,Manono,CD,-7.30,27.42,68.86,47,10,1.03,clear sky,0.0,0.0
540,540,Melfi,IT,41.00,15.65,68.00,82,5,11.41,clear sky,0.0,0.0
545,545,Banyo,CM,6.75,11.82,66.15,89,96,1.74,overcast clouds,0.0,0.0
560,560,Caravelas,BR,-17.71,-39.25,68.49,64,0,2.33,clear sky,0.0,0.0
579,579,Cidreira,BR,-30.18,-50.21,67.68,73,33,8.70,scattered clouds,0.0,0.0

In [5]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
373,Henties Bay,NaN,68.00,clear sky,-22.12,14.28,
423,Ambilobe,MG,68.14,clear sky,-13.20,49.05,
450,Tazmalt,DZ,66.20,clear sky,36.39,4.40,
454,Miyang,CN,67.95,overcast clouds,24.40,103.44,
491,Bayir,TR,68.00,few clouds,37.27,28.22,
493,Manono,CD,68.86,clear sky,-7.30,27.42,
540,Melfi,IT,68.00,clear sky,41.00,15.65,
545,Banyo,CM,66.15,overcast clouds,6.75,11.82,
560,Caravelas,BR,68.49,clear sky,-17.71,-39.25,
579,Cidreira,BR,67.68,scattered clouds,-30.18,-50.21,

In [6]:
hotel_df.count()

City                   29
Country                27
Max Temp               29
Current Description    29
Lat                    29
Lng                    29
Hotel Name             29
dtype: int64

In [7]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, KeyError):
        print("No hotel")
    else:
        if hotel_df["Hotel Name"] is None:
            pass

Hotel not found... skipping.
Hotel not found... skipping.

In [8]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
25,Bukoba,TZ,67.57,broken clouds,-1.33,31.81,Elct Bukoba Hotel and Tours
50,East London,ZA,67.37,clear sky,-33.02,27.91,Tu Casa
55,Chuy,UY,67.06,overcast clouds,-33.70,-53.46,Nuevo Hotel Plaza
57,Laje,BR,68.16,few clouds,-10.18,-40.97,Pousada Centro
67,Saint-Philippe,RE,66.20,few clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
108,Cacu,BR,68.40,scattered clouds,-18.56,-51.13,Império Hotel
112,Cumaru,BR,67.05,clear sky,-8.01,-35.70,
137,Camacha,PT,68.00,scattered clouds,33.08,-16.33,Hotel Porto Santo & Spa
150,Beidao,CN,67.05,clear sky,34.57,105.89,Shell Tianshui Maiji District Erma Road Walkin...
187,Tsaratanana,MG,67.44,clear sky,-16.78,47.65,
199,Baykit,RU,66.60,broken clouds,61.67,96.37,Gostinitsa
203,Otsuchi,JP,66.20,broken clouds,39.37,141.90,Sanriku Flower Hotel Hamagiku
218,Kamaishi,JP,66.20,broken clouds,39.27,141.88,Hotel Route Inn Kamaishi
231,Chapais,CA,68.00,overcast clouds,49.78,-74.85,Hôtel Opémiska
235,Hasaki,JP,68.00,light rain,35.73,140.83,Inubosaki Kanko Hotel
266,Walvis Bay,NaN,68.00,clear sky,-22.96,14.51,Oyster Box Guesthouse
278,Zeya,RU,66.43,broken clouds,53.75,127.27,Kapital Inn
294,Kununurra,AU,66.20,clear sky,-15.77,128.73,Hotel Kununurra
342,Santa Isabel,BR,66.20,overcast clouds,-23.32,-46.22,Chácara Sombra do Altíssimo
373,Henties Bay,NaN,68.00,clear sky,-22.12,14.28,Fishermans Guest House
423,Ambilobe,MG,68.14,clear sky,-13.20,49.05,Hôtel & Restaurant DIANA Ambilobe
450,Tazmalt,DZ,66.20,clear sky,36.39,4.40,Hôtel Numédia
454,Miyang,CN,67.95,overcast clouds,24.40,103.44,Huibinlou Hotel
491,Bayir,TR,68.00,few clouds,37.27,28.22,Buban Otel
493,Manono,CD,68.86,clear sky,-7.30,27.42,Hotel hewa bora
540,Melfi,IT,68.00,clear sky,41.00,15.65,HOTEL TERME DI RAPOLLA
545,Banyo,CM,66.15,overcast clouds,6.75,11.82,Motel JOMBA
560,Caravelas,BR,68.49,clear sky,-17.71,-39.25,Pousada dos Navegantes
579,Cidreira,BR,67.68,scattered clouds,-30.18,-50.21,Novomar Pousada e Turismo Ltda

In [9]:
# Create the output file (CSV).
output_data_file2 = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file2, index_label="City_ID")

In [10]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

In [11]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))