In [3]:
import os
import pandas as pd

In [5]:
weather_data_to_load = os.path.join("weather_data","WeatherPy_vacation.csv")
weather_data_df = pd.read_csv(weather_data_to_load)
weather_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Albany,US,88.00,light rain,42.60,-73.97,NaN
1,33,Lake Charles,US,78.80,moderate rain,30.21,-93.20,NaN
2,81,Cayenne,GF,78.80,light rain,4.93,-52.33,NaN
3,155,Havelock,US,82.00,light rain,34.88,-76.90,NaN
4,159,Acarau,BR,77.04,light rain,-2.89,-40.12,NaN
5,241,Batticaloa,LK,81.50,light rain,7.71,81.69,NaN
6,271,Chauk,MM,83.82,light rain,20.88,94.82,NaN
7,286,Kavaratti,IN,84.45,light rain,10.57,72.64,NaN
8,298,Vanimo,PG,82.09,light rain,-2.67,141.30,NaN
9,334,Orocue,CO,78.31,moderate rain,4.79,-71.34,NaN
10,336,Lorengau,PG,82.65,moderate rain,-2.02,147.27,NaN
11,384,Takoradi,GH,77.81,light rain,4.88,-1.76,NaN
12,412,Acajutla,SV,91.40,light rain,13.59,-89.83,NaN
13,440,Luwuk,ID,77.04,moderate rain,-0.95,122.79,NaN
14,456,Boffa,GN,79.18,light rain,10.17,-14.03,NaN
15,471,Kinablangan,PH,81.23,light rain,7.69,126.55,NaN
16,482,Samarai,PG,79.90,moderate rain,-10.62,150.67,NaN
17,483,Benemerito De Las Americas,MX,86.85,light rain,16.52,-90.64,NaN
18,505,Port Blair,IN,82.47,light rain,11.67,92.75,NaN
19,515,Palmer,US,82.99,light rain,42.16,-72.33,NaN
20,561,Amahai,ID,82.00,light rain,-3.33,128.92,NaN