In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from citipy import citipy
import requests
import os
import gmaps
from config import weather_api_key
from config import g_key

In [43]:
city_data_to_load = os.path.join("weather_data","WeatherPy_database.csv")
city_data_df = pd.read_csv(city_data_to_load)
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Busselton,AU,-33.65,115.33,52.00,71,40,12.82,scattered clouds,0.00,0.0
1,1,Saint-Francois,FR,46.42,3.91,69.80,60,41,3.36,scattered clouds,0.00,0.0
2,2,Ushuaia,AR,-54.80,-68.30,33.80,94,75,12.75,shower rain,0.00,0.0
3,3,Mataura,NZ,-46.19,168.86,39.00,83,94,3.00,overcast clouds,0.00,0.0
4,4,Rikitea,PF,-23.12,-134.97,69.93,54,100,9.95,overcast clouds,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
534,534,Hualmay,PE,-11.10,-77.61,65.08,75,72,10.96,broken clouds,0.00,0.0
535,535,Bocana De Paiwas,NI,12.79,-85.12,79.63,86,98,12.37,light rain,0.54,0.0
536,536,Calahorra,ES,42.31,-1.97,78.80,60,0,5.82,light rain,0.00,0.0
537,537,Rujewa,TZ,-8.70,34.38,65.52,63,0,10.13,clear sky,0.00,0.0
538,538,Chernushka,RU,56.51,56.08,50.63,93,39,10.58,light rain,0.14,0.0

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_question = str(input("Do you want it to be raining? (yes/no) "))
snow_question = str(input("Do you want it to be snowing? (yes/no) "))
# Filter the dataset to find the cities that fit the criteria.

if rain_question =="yes" and snow_question =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] > 0.0) &
                                           (city_data_df["Snow (inches)"] > 0.0)]
    
elif rain_question =="yes" and snow_question =="no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] > 0.0) &
                                           (city_data_df["Snow (inches)"] == 0.0)]
    
elif rain_question =="no" and snow_question =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                           (city_data_df["Max Temp"] >= min_temp) &
                                           (city_data_df["Rain (inches)"] == 0.0) &
                                           (city_data_df["Snow (inches)"] > 0.0)]    
    
else:
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0.0) &
                                          (city_data_df["Snow (inches)"] == 0.0)]
    
    
preferred_cities_df

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 88
Do you want it to be raining? (yes/no) yes
Do you want it to be snowing? (yes/no) no

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
51,51,Albany,US,42.60,-73.97,88.00,53,27,1.99,light rain,0.48,0.0
103,103,Asheville,US,35.60,-82.55,77.00,77,93,1.01,light rain,0.69,0.0
110,110,Vanimo,PG,-2.67,141.30,79.68,84,68,4.90,light rain,0.22,0.0
119,119,Cayenne,GF,4.93,-52.33,78.80,88,100,6.93,light rain,0.46,0.0
135,135,Sinnamary,GF,5.38,-52.95,77.40,90,100,7.94,light rain,0.74,0.0
154,154,Itarema,BR,-2.92,-39.92,76.98,71,64,14.12,light rain,0.22,0.0
170,170,Balikpapan,ID,-1.27,116.83,76.71,88,87,8.70,light rain,0.32,0.0
176,176,Badarpur,IN,24.90,92.60,77.79,92,74,1.05,light rain,0.43,0.0
214,214,Amahai,ID,-3.33,128.92,82.00,96,40,1.99,light rain,0.36,0.0
224,224,Madang,PG,-5.22,145.80,79.16,86,10,3.67,moderate rain,1.51,0.0
245,245,Narasannapeta,IN,18.42,84.05,82.69,84,0,3.89,light rain,0.11,0.0
260,260,Gabu,GW,12.28,-14.22,80.85,81,66,7.49,moderate rain,1.27,0.0
282,282,Biak,ID,-0.91,122.88,76.19,88,100,9.42,moderate rain,3.21,0.0
306,306,Samarai,PG,-10.62,150.67,79.70,86,68,16.13,moderate rain,1.82,0.0
330,330,Lorengau,PG,-2.02,147.27,82.83,77,93,6.96,moderate rain,1.85,0.0
333,333,Takoradi,GH,4.88,-1.76,77.65,87,100,7.85,light rain,0.27,0.0
366,366,Kourou,GF,5.16,-52.65,78.80,88,100,6.93,light rain,0.28,0.0
389,389,Palmer,US,42.16,-72.33,84.99,64,96,8.99,light rain,0.32,0.0
390,390,Orocue,CO,4.79,-71.34,80.87,85,95,5.84,moderate rain,3.06,0.0
405,405,Kirakira,SB,-10.45,161.92,82.85,74,90,3.20,light rain,0.34,0.0
415,415,Mitu,CO,1.20,-70.17,78.53,91,78,1.54,light rain,0.18,0.0
417,417,Kerema,PG,-7.96,145.78,78.31,87,64,5.44,light rain,0.14,0.0
426,426,Finschhafen,PG,-6.60,147.87,80.44,76,2,8.28,light rain,0.49,0.0
430,430,Huilong,CN,31.81,121.66,77.00,97,99,9.28,light rain,0.29,0.0
464,464,Lakshmipur,BD,22.95,90.83,81.55,89,60,6.85,light rain,0.63,0.0
482,482,Inirida,CO,3.87,-67.92,79.57,91,93,2.46,light rain,0.77,0.0
486,486,Nioro,GM,13.35,-15.75,85.53,65,61,10.71,light rain,0.19,0.0
511,511,Acarau,BR,-2.89,-40.12,76.98,72,43,14.16,light rain,0.27,0.0
514,514,Eirunepe,BR,-6.66,-69.87,78.04,89,77,1.86,light rain,0.26,0.0
535,535,Bocana De Paiwas,NI,12.79,-85.12,79.63,86,98,12.37,light rain,0.54,0.0

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
415,Mitu,CO,78.53,light rain,1.20,-70.17,
417,Kerema,PG,78.31,light rain,-7.96,145.78,
426,Finschhafen,PG,80.44,light rain,-6.60,147.87,
430,Huilong,CN,77.00,light rain,31.81,121.66,
464,Lakshmipur,BD,81.55,light rain,22.95,90.83,
482,Inirida,CO,79.57,light rain,3.87,-67.92,
486,Nioro,GM,85.53,light rain,13.35,-15.75,
511,Acarau,BR,76.98,light rain,-2.89,-40.12,
514,Eirunepe,BR,78.04,light rain,-6.66,-69.87,
535,Bocana De Paiwas,NI,79.63,light rain,12.79,-85.12,

In [46]:
hotel_df.count()

City                   30
Country                30
Max Temp               30
Current Description    30
Lat                    30
Lng                    30
Hotel Name             30
dtype: int64

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, KeyError):
        print("no hotel")
    else:
        if hotel_df["Hotel Name"] is None:
            pass

no hotel
no hotel
no hotel

In [48]:
# Create the output file (CSV).
output_data_file2 = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file2, index_label="City_ID")

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))